<%= render 'guilds/navbar' %>

<div class="container">
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= quests_path(id: @guild.id) %>" class="nav-link <%= 'active' if current_page?(quests_path) %>">依頼 <span class="badge badge-secondary"><%= @quests.count %></span></a></li>
    <li class="nav-item"><a href="<%= quests_path(id: @guild.id) %>" class="nav-link <%= 'active' if current_page?(quests_path) %>">進行中 <span class="badge badge-secondary"><%= @quests.count %></span></a></li>
    <li class="nav-item"><a href="<%= quests_path(id: @guild.id) %>" class="nav-link <%= 'active' if current_page?(quests_path) %>">達成 <span class="badge badge-secondary"><%= @quests.count %></span></a></li>
  </ul>
  
  <h3>依頼</h3>
  <%= render 'guilds/quests', quests: @quests %>
</div>