<% blogs.each do |blog| %>
  <div class="blog-wrap">
    <div class="blog-title">
      <h3><%= link_to blog.title, blog_path(id: blog.id), class: 'guild-name', 'data-turbolinks': false %></h3>
    </div>
    <div class="blog-content">
      <% if blog.guild_blog_tag %>
        <p>ブログタグ&nbsp;:&nbsp;<%= blog.guild_blog_tag.name %></p>
      <% end %>
      <p class="blog-inline">投稿者&nbsp;:&nbsp;<img class="user-icon" src="<%= gravatar_url(blog.user, { size: 30 }) %>" alt="">&nbsp;<%= blog.user.name %></p>
      <p class="blog-inline">投稿日&nbsp;:&nbsp;<%= blog.created_at %></p>
    </div>
  </div>
<% end %>