<div class="menu-bar">
  <h1 class="guildpage-name"><%= link_to @guild.name, guild_path(id: @guild.id) %></h1>
  <nav id="nav">
    <ul>
      <li><i class="fa fa-users fa-lg nav-icon"></i>&nbsp;<%= link_to 'member', members_guild_path(id: @guild.id), class: 'menu' %></li>
      <li><i class="fa fa-pen fa-lg nav-icon"></i>&nbsp;<%= link_to 'blog', blogs_guild_path(id: @guild.id), class: 'menu', 'data-turbolinks': false %></li>
      <li><i class="fa fa-image fa-lg nav-icon"></i>&nbsp;<%= link_to 'gallery', root_path, class: 'menu' %></li>
      <% if @guild.members.include?(current_user) %>
        <li><i class="fa fa-scroll fa-lg nav-icon"></i>&nbsp;<%= link_to 'quest', root_path, class: 'menu' %></li>
        <li><i class="fa fa-comments fa-lg nav-icon"></i>&nbsp;<%= link_to 'chat', new_message_path(id: @guild.id), class: 'menu', 'data-turbolinks': false %></li>
        <% if @guild.user_id == current_user.id %>
          <li><i class="fa fa-wrench fa-lg nav-icon"></i>&nbsp;<%= link_to 'setting', edit_guild_path(id: @guild.id), class: 'menu' %></li>
        <% end %>
      <% else %>
        <% if @guild.join_type %>
          <!-- 依頼ありギルド !-->
          <li><%= link_to 'ギルドへ依頼', root_path, class: 'menu' %></li>
          <% if @guild.approval_user?(current_user) %>
            <li><%= link_to '申請済み', guild_path(id: @guild.id), class: 'menu' %></li>
          <% else %>
            <li><%= link_to '加入申請', new_approval_path(id: @guild.id), class: 'menu' %></li>
          <% end %>
        <% else %>
          <!-- 依頼なしギルド !-->
          <li><%= link_to 'ギルドへ依頼', root_path, class: 'menu' %></li>
          <%= form_with(model: current_user.guild_members.build, local: true) do |f| %>
            <%= hidden_field_tag :guild_id, @guild.id %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= f.submit '更新する', class: 'btn btn-primary btn-block' %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </nav>
</div>