<div id="sidebar-user-top">
  <div id="sidebar-user-top-icon">
    <img id="sidebar-user-icon" class="user-icon" src="<%= gravatar_url(current_user, { size: 100 }) %>" alt="">
    <h5><%= current_user.name %></h5>
  </div>
  <div id="sidebar-user-top-content">
    <p>加入ギルド：&nbsp;<%= current_user.join_guilds.count %></p>
    <p>承認待ちギルド：&nbsp;<%= current_user.approval_guilds.count %></p>
  </div>
</div>
<div id="sidebar-user-menu">
  <ul class="sidebar-user-menu">
    <li><a href="/users/<%= current_user.id %>/favorite_guilds"><i class="fa fa-star fa-lg"></i>&nbsp;<span>お気に入り</span></a></li>
    <li><i class="fa fa-bell fa-lg"></i>&nbsp;<span>通知</span></li>
    <li><i class="fa fa-award fa-lg"></i>&nbsp;<span>実績</span></li>
  </ul>
</div>