<div>
  <%= render 'guilds/navbar' %>
</div>
<div class="container">
  <% if @guild.members.include?(current_user) %>
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= members_guild_path %>" class="nav-link <%= 'active' if current_page?(members_guild_path) %>">ギルドメンバー <span class="badge badge-secondary"><%= @members.count %></span></a></li>
      <li class="nav-item"><a href="<%= approval_members_guild_path %>" class="nav-link <%= 'active' if current_page?(approval_members_guild_path) %>">承認待ちユーザー <span class="badge badge-secondary"><%= @approvals.count %></span></a></li>
    </ul>
  <% end %>
  
  <h3>ギルドメンバー</h3>
    <% @members.each do |member| %>
      <div class="media bg-light rounded">
        <div class="media-body">
          <h3><%= link_to member.user.name, user_path(id: member.user.id), class: 'guild-name' %></h3>
          <% if member.user.online %>
            <p class="text-success">オンライン</p>
          <% else %>
            <p class="text-dark">オフライン</p>
          <% end %>
          <p>ログイン履歴：<%= member.user.login_at(member.user) %>分前</p>
        </div>
      </div>
    <% end %>
    <%= paginate @members %>
</div>