<div class="container">
  <div class="row">
    <div class="col-md-9 order-md-2">
      <div id="search">
        <%= search_form_for(@q, url:search_path) do |f| %>
            <div id="search-box">
              <%= f.search_field :name_or_hashbody_cont, class: 'form-control mr-sm-2 search-textfield', placeholder: "Search" %>
              <%= f.submit 'Search', class: 'btn btn-outline-primary my-2 my-sm-0 search-submit' %>
            </div>
            <div id="search-btn"></div>
        <% end %>
      </div>
      <div class="search-border"></div>
      <div>
        <%= render 'guilds/guilds', guilds: @guilds %>
      </div>
    </div>
    <div class="col-md-3 order-md-1">
      <div class="search-guild-tag">
        <h5>ギルドタグ</h5>
          <% @guild_tags.each do |tag| %>
            <li class="mb-2 ml-2" style="list-style: none;"><%= link_to tag.hashname, tags_path(id: tag.id), class: "text-dark" %><span class="ml-2">(<%= tag.guilds.count %>)</span></li></li>
          <% end %>
      </div>
    </div>
  </div>
</div>