<div id="img-box">
  <% if !@guild.image.nil? %>
    <%= image_tag @guild.image.url, id: 'guild-img' %>
  <% end %>
</div>

<%= render 'guilds/navbar' %>

<div class="guild-info">
  <div class="row">
    <div id="guild-status" class="col-md-5">
      <div class="guild-status">
        <p>GM&nbsp;:&nbsp;<img class="user-icon" src="<%= gravatar_url(@guild.user, { size: 30 }) %>" alt="">&nbsp;<%= @guild.user.name %></p>
        <p>ギルド設立日&nbsp;:&nbsp;<%= @guild.created_format %></p>
        <p>メンバー&nbsp;:&nbsp;<%= @guild.members.count %></p>
        <p>お気に入り&nbsp;:&nbsp;<%= @guild.favorites.count %></p>
        <% if current_user.favorite?(@guild) %>
          <span class="favorite"><%= link_to("お気に入り登録済み", favorite_guild_path(guild_id: @guild.id), {method: :"delete"}) %></span>
        <% else %>
          <span class="no-favorite"><%= link_to("お気に入り登録", favorite_guilds_path(guild_id: @guild.id), {method: :"post"}) %></span>
        <% end %>
      </div>
    </div>
    <div id="guild-content" class="col-md-6">
      <div class="guild-content">
        <p><%= safe_join(@guild.content.split("\n"),tag(:br)) %></p>
      </div>
    </div>
  </div>
</div>

<% if @guild.members.include?(current_user) %>
  <div id="top-newslist">
    <h3 style="display: inline;">お知らせ</h3>
    <% if @guild.user_id == current_user.id %>
      <p class="add-news" style="font-size: 20px; border-radius: 20px">Add&nbsp;<i class="fa fa-plus"></i></p>
    <% end %>
    <div class="top-newslist">
      <% unless @news.nil? %>
        <% @news.each do |news| %>
          <div class="top-newslist-content">
            <div class="mb-2">
              <%= news.content %>
            </div>
            <div>
              <%= news.how_long_ago %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="top-bloglist">
  <h3>ギルドブログ</h3>
  <div class="box">
    <% @blogs.each do |blog| %>
      <div class="boxlist-blog">
        <div class="boxlist-title">
          <h4><%= link_to blog.title, blog_path(id: blog.id), class: 'guild-name', 'data-turbolinks': false %></h4>
        </div>
        <div class="boxlist-content">
          <p><%= strip_tags(blog.content.to_s).gsub(/[\n]/,"").strip.truncate(80) %></p>
        </div>
        <div class="bloglist-footer">
          <%= blog.how_long_ago %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="top-memberlist">
  <h3>ギルドメンバー</h3>
    <% @members.each do |member| %>
      <div class="media">
        <div class="media-body">
          <h3><img class="user-icon" src="<%= gravatar_url(@guild.user, { size: 30 }) %>" alt="">&nbsp;<%= link_to member.user.name, user_path(id: member.user.id), class: 'guild-name' %></h3>
          <% if member.user.online %>
            <p class="online">オンライン</p>
          <% else %>
            <p>オフライン</p>
          <% end %>
          <p>ログイン履歴：<%= member.user.how_long_ago %></p>
        </div>
      </div>
    <% end %>
    <%= paginate @members %>
  </div>