<div id="img-box">
  <% if !@guild.image.nil? %>
    <%= image_tag @guild.image.url, id: 'guild-img' %>
  <% end %>
</div>

<%= render 'guilds/navbar' %>

<div class="guild-info">
  <div class="row">
    <div id="guild-status" class="col-md-4">
      <div class="guild-status">
        <p>ギルドマスター&nbsp;:&nbsp;<img class="user-icon" src="<%= gravatar_url(@guild.user, { size: 30 }) %>" alt="">&nbsp;<%= @guild.user.name %></p>
        <p>ギルド設立日&nbsp;:&nbsp;<%= @guild.created_at %></p>
        <p>いいね</p>
        <p>お気に入り</p>
      </div>
    </div>
    <div id="guild-content" class="col-md-7">
      <div class="guild-content">
        <p><%= safe_join(@guild.content.split("\n"),tag(:br)) %></p>
      </div>
    </div>
  </div>
</div>

<div id="top-bloglist">
  <h3>ギルドブログ</h3>
  <div class="box">
    <% @blogs.each do |blog| %>
      <div class="boxlist-blog">
        <div class="boxlist-title">
          <h4><%= link_to blog.title, blog_path(id: blog.id), class: 'guild-name', 'data-turbolinks': false %></h4>
        </div>
        <div class="boxlist-content">
          <p><%= strip_tags(blog.content.to_s).gsub(/[\n]/,"").strip.truncate(80) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="top-memberlist">
  <h3>ギルドメンバー</h3>
    <% @members.each do |member| %>
      <div class="media">
        <div class="media-body">
          <h3><img class="user-icon" src="<%= gravatar_url(@guild.user, { size: 50 }) %>" alt="">&nbsp;<%= link_to member.user.name, user_path(id: member.user.id), class: 'guild-name' %></h3>
          <% if member.user.online %>
            <p class="online">オンライン</p>
          <% else %>
            <p>オフライン</p>
          <% end %>
          <p>ログイン履歴：<%= member.user.login_at(member.user) %>分前</p>
        </div>
      </div>
    <% end %>
    <%= paginate @members %>
  </div>