<%= render 'guilds/navbar' %>

<div class="container">
  <div class="row" id="new-gallery">
    <div class="col-md-6" id="new-gallery-pre">
      <h5>画像プレビュー</h5>
      <% if @gallery.photo.present? %>
        <%= image_tag @gallery.photo, id: 'img-prev' %>
      <% else %>
        <%= image_tag "stripe.jpg", id: 'img-prev' %>
      <% end %>
    </div>
    
    <div class="col-md-6">
      <%= form_with(model: @gallery, local: true) do |f| %>
        <%= hidden_field_tag :guild_id, @guild.id %>
        <div>
          <%= f.label :content, "ひとこと" %>
        </div>
        <div class="form-group">
          <%= f.text_area :content, class: "form-control photo-conf", id: 'photo-content', rows:5 %>
        </div>
        <div>
          <%= f.label :photo, "画像選択" %>
        </div>
        <div id="photo-select">
          <%= f.file_field :photo, class: 'photo-conf', id: 'user-img' %>
        </div>
        <div id="gallery-submit">
          <%= f.submit '投稿する', class: 'btn btn-success' %>
        </div>
    <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#img-prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#user-img").change(function(){
        readURL(this);
    });
  });
</script>