<%= render 'guilds/navbar' %>

<div id="gallery-show">
  <div class="row" id="gallery-show-wrap">
    <div class="col-md-12">
      <h3><img class="user-icon" src="<%= gravatar_url(@gallery.user, { size: 30 }) %>" alt="">&nbsp;<%= @gallery.user.name %></h3>
    </div>
    <div class="col-md-6" id="gallery-show-photo">
      <%= image_tag @gallery.photo.url %>
    </div>
    <div class="col-md-6" id="gallery-show-content">
      <% unless @gallery.content.nil? %>
        <div class="gallery-show-content">
          <p><%= safe_join(@gallery.content.split("\n"),tag(:br)) %></p>
        </div>
      <% end %>
      <div class="gallery-favorite">
        <% if logged_in? %>
          <% if current_user.favorite_gallery?(@gallery) %>
            <span class="favorite-blog"><%= link_to("いいねしました。", favorite_gallery_path(gallery_id: @gallery.id), {method: :"delete"}) %></span><span class="gallery-favorite-count"><%= @gallery.favorite_galleries.count %></span>
          <% else %>
            <span class="no-favorite-blog"><%= link_to("いいね", favorite_galleries_path(gallery_id: @gallery.id), {method: :"post"}) %></span><span class="gallery-favorite-count"><%= @gallery.favorite_galleries.count %></span>
          <% end %>
        <% else %>
          <span class="goot-blog">いいね</span><span class="gallery-favorite-count"><%= @gallery.favorite_galleries.count %></span>
        <% end %>
      </div>
      <div id="gallery-show-content-footer">
        <h5><%= @gallery.created_format %><h5></h5>
      </div>
    </div>
  </div>
</div>